@font-face {

    font-family: 'Fregat';
    src: url('../fonts/Fregat.otf');

}

.root {
    -fx-font-family: 'Fregat';
    -fx-font-size: 14px;
}

.search-field {
	-fx-background-radius: 10;
	-fx-padding: 0 0 0 20;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.erase-button {
    -fx-background-radius: 10 2 2 10;
    -fx-background-color: transparent;
    -fx-border-radius: 10 2 2 10;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-opacity: 0.7;
    -fx-padding: 0 0 0 2;
}

.erase-button:hover {
    -fx-opacity: 1;
}

.erase-button:focused {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
}

.search-button {
	-fx-background-radius: 35;
	-fx-border-radius: 35;
}

.chapter-list {
	-fx-border-width: 1;
	-fx-border-color: lightgray;
}

.tab-pane .tab-header-background {
	-fx-background-color: transparent;
}

.v-list {
	-fx-border-width: 1;
	-fx-border-color: lightgray;
}

.v-list .list-cell {
	-fx-wrap-text: true;
}

.ftext {
    -fx-fill: black;
    -fx-stroke: red;
    -fx-stroke-width: 1px;
}

.hover_selection_panel {
    -fx-border-width: 2;
    -fx-border-color: #4B3775;
    -fx-background-color: white;
    -fx-background-radius: 7 7 0 0;
    -fx-border-radius: 7 7 0 0;
}

.copy_button {
    -fx-background-radius: 3;
    -fx-background-color: transparent;
}

.copy_button:hover {
    -fx-translate-y: -3;
}

.note {
    -fx-fill: #4B3775;
    -fx-stroke: #4B3775;
    -fx-stroke-width: 1px;
    -fx-cursor: hand;
}

.note:hover {
    -fx-underline: true;
}