.search-field {
	-fx-background-radius: 10;
}

.search-button {
	-fx-background-radius: 35;
	-fx-border-radius: 35;
}

.chapter-list {
	-fx-border-width: 1;
	-fx-border-color: lightgray;
}

.tab-pane .tab-header-background {
	-fx-background-color: transparent;
}

.v-list {
	-fx-border-width: 1;
	-fx-border-color: lightgray;
}

.v-list .list-cell {
	-fx-wrap-text: true;
}

.ftext {
    -fx-fill: green;
    -fx-stroke: green;
    -fx-stroke-width: 0.5px;
}

.jtext {
    -fx-fill: black;
}

.hover_selection_panel {
    -fx-background-color: blue;
    -fx-background-radius: 7 7 0 0;
}

.copy_button {
    -fx-background-radius: 28;
}