@font-face {

	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl.otf');

}

.root {
	-fx-font-family: 'Museo Sans Cyrl';
	-fx-font-size: 14px;
}


.list-cell {
	-fx-background-color: transparent; /* Фон ячеек ListView */
}

/* Цвет выделенной ячейки */
.list-cell:selected {
	-fx-background-color: #ffdcdc; /* Цвет фона для выделенной ячейки */
	-fx-text-fill: #000000; /* Цвет текста для выделенной ячейки */
}

.styled-text-area {
	-fx-background-color: #fffff8;
}

.styled-text-area .selection {
	-fx-fill: #ffdcdc;
}

.menu-item {
	-fx-accent: #ffdcdc;
}

/* Цвет выделенной ячейки, но не в фокусе */
.list-cell:selected:focused {
	-fx-background-color: #ffdcdc; /* Цвет фона для выделенной ячейки с фокусом */
	-fx-text-fill: #000000; /* Цвет текста для выделенной ячейки с фокусом */
}


.scroll-pane {
	-fx-background-color: white; /* Установите фон прокручиваемой области */
}

/* Вертикальный ползунок */
.scroll-bar:vertical .thumb {
	-fx-background-color: #fce5f9; /* Цвет ползунка */
}

.scroll-bar:vertical .track {
	-fx-background-color: white; /* Цвет трека ползунка */
}

/* Горизонтальный ползунок */
.scroll-bar:horizontal .thumb {
	-fx-background-color: #fce5f9; /* Цвет ползунка */
}

.scroll-bar:horizontal .track {
	-fx-background-color: white; /* Цвет трека ползунка */
}

/* Кнопки вверх и вниз */
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
	-fx-background-color: #fce5f9; /* Цвет кнопок */
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
	-fx-background-color: #000; /* Цвет стрелок на кнопках */
}

/* Кнопки влево и вправо */
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
	-fx-background-color: #fce5f9; /* Цвет кнопок */
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
	-fx-background-color: #000; /* Цвет стрелок на кнопках */
}

.round-text-field {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-width: 0;
	-fx-background-insets: 0;
	-fx-background-color: white;
	-fx-padding: 0 0 0 25;
	-fx-prompt-text-fill: #5f5462;
	-fx-font-weight: bold;
}

.round-left-text-field {

}

.round-right-text-field {
	-fx-background-radius: 10 0 0 10;
	-fx-padding: 0 0 0 20;
}

.index-button {
	-fx-background-image: url('../main-window/index.png');
	-fx-background-size: 28px 30px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

.article-button {
	-fx-background-image: url('../main-window/articles.png');
	-fx-background-size: 20px 22px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

.bookmark-button {
	-fx-background-image: url('../main-window/bookmarks.png');
	-fx-background-size: 17px 23px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

.create-article-button {
	-fx-background-image: url('../main-window/create-article.png');
	-fx-background-size: 24px 24px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

.erase-all-link-button {
	-fx-background-image: url('../main-window/erase-link-all.png');
	-fx-background-size: 27px 27px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

.erase-cur-link-button {
	-fx-background-image: url('../main-window/erase-link-cur.png');
	-fx-background-size: 27px 27px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

.resave-article-button {
	-fx-background-image: url('../main-window/resave-article.png');
	-fx-background-size: 24px 24px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-color: transparent;
}

.index-button:hover, .article-button:hover, .bookmark-button:hover,
.create-article-button:hover, .resave-article-button:hover,
.erase-cur-link-button:hover, .erase-all-link-button:hover {
	-fx-background-color: #ffdcdc;
}

.toggle-button {
	-fx-background-insets: 0;
	-fx-background-color: #3971a1;
	-fx-pref-width: 14px;
	-fx-min-width: 14px;
	-fx-max-width: 14px;
	-fx-pref-height: 14px;
	-fx-min-height: 14px;
	-fx-max-height: 14px;
	-fx-background-radius: 14;
}

.toggle-button:selected {
	-fx-translate-x: 11px;
}

.stack-pane {
	-fx-background-radius: 20;
	-fx-border-width: 2px;
	-fx-pref-height: 19px;
	-fx-min-height: 19px;
	-fx-max-height: 19px;
	-fx-border-radius: 20;
	-fx-border-color: #23445e;
}

.stack-pane-unselected {
	-fx-background-color: transparent;
}

.stack-pane-selected {
	-fx-background-color: #fce5f9;
}

.erase-button {
	-fx-background-radius: 10 2 2 10;
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-insets: 0;
	-fx-opacity: 0.7;
	-fx-padding: 0 0 0 2;
}

.transparent-list-view {
	-fx-background-color: red;
}

.erase-button:hover {
	-fx-opacity: 1;
}

.erase-button:focused {
	-fx-border-color: transparent;
	-fx-background-insets: 0;
}

.round-button {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-width: 0;
	-fx-background-insets: 0;
	-fx-background-color: #fce5f9;
	-fx-background-image: url('../main-window/search.png');
	-fx-background-size: 35px 35px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;

}

.round-button:hover {
	-fx-background-color: #ffffff;
}

.tab-pane .tab-header-background {
	-fx-background-color: transparent;
}

.tab {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-width: 0;
	-fx-background-insets: 0;
	-fx-background-color: #fce5f9;
	-fx-background-radius: 0;
}

.tab:selected {
	-fx-background-color: white;
}

.h-listview, .v-listview {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-width: 0;
	-fx-background-insets: 0;
	-fx-background-color: white;
}

.h-listview, .v-listview > .scroll-pane {
    -fx-padding: 0;
}

.v-listview .list-cell {
	-fx-wrap-text: true;
}

.fill-text {
	-fx-fill: black;
	-fx-stroke: red;
	-fx-stroke-width: 1px
}

.hover-selection-panel {
	-fx-border-width: 2;
	-fx-border-color: #685697;
	-fx-background-color: white;
	-fx-background-radius: 7 7 0 0;
	-fx-border-radius: 7 7 0 0;
}

.hover-panel-button {
	-fx-background-radius: 3;
	-fx-background-color: transparent;
}

.hover-panel-button:hover {
	-fx-border-width: 0 0 3 0;
	-fx-border-color: #c791d3;
}

.note {
	-fx-cursor: hand;
	-fx-font-style: italic;
}

.note:hover {
	-fx-underline: true;
}

.parallel-link {
	-fx-stroke-width: 1px;
	-fx-stroke: #126579;
	-fx-fill: #126579;
	-fx-cursor: hand;
}

.parallel-link:hover {
	-fx-underline: true;
}